<h1>はじめに</h1>
<p>このアプリは人狼ゲームの家計簿です。<br>言い換えると、人狼ゲームの戦歴を記録するアプリです。</p>

<h2>人狼ゲームとは？</h2>
<blockquote>
  プレイヤーはそれぞれが村人と村人に化けた人狼となり、自分自身の正体がばれないようにしながら他のプレイヤーと交渉して相手の正体を探る。ゲームは半日単位で進行し、昼には全プレイヤーの投票により決まった人狼容疑者1名の処刑が、夜には人狼による村人の襲撃が行われる。全ての人狼を処刑することができれば村人チームの勝ち、生き残った人狼と同数まで村人を減らすことができれば人狼チームの勝ちとなる。
</blockquote>
<iframe width="853" height="480" src="https://www.youtube.com/embed/2D-ebbjIh1Q" frameborder="0" allowfullscreen></iframe>

<br><br><br>
<%= link_to '記録する', logs_path %>