<%= form_for(log) do |f| %>
  <% if log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :勝敗 %>
    <%= select :log, :syohai, [
    ["勝ち", "勝ち"], 
    ["負け", "負け"],
    ["引き分け", "引き分け"]
    ] %>
  </div>

  <div class="field">
    <%= f.label :役職 %>
    <%= select :log, :roll, 
    [
      ["村人", "村人"],
      ["預言者(占い師)", "預言者(占い師)"],
      ["霊媒師（霊能者）", "霊媒師（霊能者）"],
      ["狩人（ボデイーガード）", "狩人（ボデイーガード）"],
      ["狼", "狼"],
      ["狂人", "狂人"],
      ["狐", "狐"],
      ["ハンター", "ハンター"],
      ["恋人", "恋人"],
      ["その他村側役職","その他村側役職"],
      ["その他狼側役職","その他狼側役職"],
      ["その他第三陣営","その他第三陣営"]
    ] 
    %>
  </div>

  <div class="field">
    <%= f.label :ゲーム終了時の生死 %>
    <%= select :log, :survive, 
    [
      ["生存", "生存"],
      ["死亡（吊られ）", "死亡（吊られ）"],
      ["死亡（噛まれ）", "死亡（噛まれ）"],
      ["死亡（その他）", "死亡（その他）"]
    ] 
    %>
  </div>

  <div class="field">
    <%= f.label :memo %>
    <%= f.text_area :memo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
