<p id="notice"><%= notice %></p>

<h1>記録</h1>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://naver.github.io/billboard.js/release/latest/dist/billboard.js"></script>
<link rel="stylesheet" href="https://naver.github.io/billboard.js/release/latest/dist/billboard.css">
<h2>データチャート（データは仮です）</h2>
<div class="charts">
  <div id="chart-syohai"></div>
  <div id="chart-roll"></div>
  <div id="chart-survive"></div>
</div>

<table>
  <thead>
    <tr>
      <th>勝敗</th>
      <th>役職</th>
      <th>ゲーム終了時の生死</th>
      <th>メモ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.syohai %></td>
        <td><%= log.roll %></td>
        <td><%= log.survive %></td>
        <td><%= log.memo %></td>
        <td><%= link_to 'Show', log %></td>
        <td><%= link_to 'Edit', edit_log_path(log) %></td>
        <td><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log', new_log_path %>

<script>
bb.generate({
  bindto: "#chart-syohai",
  "data": {
    "columns": [
      [
        "勝ち",
        <%= @log1 %>
      ],
      [
        "負け",
        3
      ],
      [
        "引き分け",
        1
      ]
    ],
    "type": "pie"
  },
  "pie": {
    "label": {
      "format": function (value, ratio, id) {
		return d3.format('')(value);
	}
    }
  }
});
bb.generate({
  bindto: "#chart-roll",
  "data": {
    "columns": [
      [
        "村人",
        <%= @log1 %>
      ],
      [
        "預言者",
        3
      ],
      [
        "人外",
        5
      ]
    ],
    "type": "pie"
  },
  "pie": {
    "label": {
      "format": function (value, ratio, id) {
		return d3.format('')(value);
	}
    }
  }
});
bb.generate({
  bindto: "#chart-survive",
  "data": {
    "columns": [
      [
        "生存",
        <%= @log1 %>
      ],
      [
        "死亡（噛まれ）",
        3
      ],
      [
        "死亡（吊られ）",
        1
      ]
    ],
    "type": "pie"
  },
  "pie": {
    "label": {
      "format": function (value, ratio, id) {
		return d3.format('')(value);
	}
    }
  }
});
</script>
