<p id="notice"><%= notice %></p>

<p>
  <strong>Syohai:</strong>
  <%= @log.syohai %>
</p>

<p>
  <strong>Roll:</strong>
  <%= @log.roll %>
</p>

<p>
  <strong>Survive:</strong>
  <%= @log.survive %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @log.memo %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
